label{
    display: block;
}

.input{
    width: 260px;
    outline: none;
}

textarea{
    width: 260px;
    outline: none;
}

.radio{
    display: block;
}

.form-content{
    background-color: #f7f8ffff;
}

button{
    outline: none;
    border: none;
}